footer {
  background-color: #fa7f01;
  color: #f3eced;
  // position: fixed;
  // bottom: 0;
  width: 100%;
  height: auto;
}

.footer-btn {
  color: #f3eced;
  font-weight: 600;
  text-decoration: none;
  padding: 0.3rem 0.4rem;
}
