h1 {
  color: #f3eced;
}
p,
label {
  color: #f3eced;
}

.form-container {
  background-color: #fa7f01;
}
.pw {
  color: #f3eced;
}

button {
  border: 1px solid white;
  color: #fa7f01;
  background-color: #f3eced;
}
